<a href="https://colab.research.google.com/github/vilsonrodrigues/DataScienceEduc/blob/master/An%C3%A1lise_Tabela_Submiss%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Análise da tabela submissões 

1. Número de submissões de questão por aluno
2. Número de submissões em que o aluno tirou menos que 100%

Importação de Bibliotecas

In [0]:
import pandas as pd
import numpy as np
from csv import reader

Leitura de tabela

In [0]:
table = pd.read_csv("https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/arquivosCSV/lopUseTurmasSubLista.csv")

In [0]:
table

In [0]:
table.loc[table["matricula"]=="",["idAluno","questao","porcentagemAcerto"]]

**Número de submissões de questão por aluno**

In [0]:
nSub = table.groupby(["idAluno","idLista","questao"]).count()
nSub.rename(columns={"quantidade":"nSub"},inplace=True)
nSub = nSub.reset_index()
nSub = nSub[["idAluno","idLista","questao","nSub"]]
nSub

Número de submissões em que o aluno tirou menos que 100%

In [0]:
menorQCem = table.loc[table["porcentagemAcerto"]<100,"porcentagemAcerto"]
table["nSubMenorQCem"] = menorQCem
nSubMenorQCem = table.groupby("questao")["nSubMenorQCem"].sum().to_frame().reset_index().sort_values(by="nSubMenorQCem")
nSubMenorQCem

Área de links e testes

df.groupby("container_id")["user_id"].nunique().to_frame()

df1 = df.groupby('product')['value'].sum().to_frame().reset_index()

df2 = df.groupby('product')['value'].sum().to_frame().reset_index().sort_values(by='value')

http://queirozf.com/entries/pandas-dataframe-groupby-examples

In [0]:

#table.rename(columns={"porcentagemAcerto":"nQuestoes"},inplace=True)
table = table.groupby(["idAluno","questao","porcentagemAcerto"])
table = table.reset_index()
table = table[["idAluno","questao","porcentagemAcerto"]]
table.head()

In [0]:
a = table.loc[table["porcentagemAcerto"]<100,"porcentagemAcerto"]

table = table.groupby(["idAluno","questao","quantidade"], inplace=True)
table=table.reset_index()
table=table["idAluno","questao","mD"]
table

In [0]:
#mD = table.groupby([])
#a=table[table["porcentagemAcerto"] == max(table["porcentagemAcerto"])].count()
table=table["porcentagemAcerto"]<100
a=loc[a[]]
a.rename(columns={"quantidade":"mD"},inplace=True)
a=a.reset_index()
#a=a[["questao","quantidade"]]
a.loc[a["porcentagem"] <100].count
#a=table[table["questao"] < "100"].count()

                index      0
0          Unnamed: 0  50394
1             idLista  50394
2             questao  50394
3              titulo  50394
4          quantidade  50394
5                data  50394
6   porcentagemAcerto  50394
7             idAluno  50394
8             idTurma  46166
9                 ano  46166
10     descricaoTurma  46166
11          matricula  50392
12               nome  50394