<a href="https://colab.research.google.com/github/vilsonrodrigues/DataScienceEduc/blob/master/Tratando_submiss%C3%B5es_com_ru%C3%ADdo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lendo CSV

In [0]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import datetime as dt
from pandas import Timestamp

In [0]:
table=pd.read_csv("https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/arquivosCSV/lopUseTurmasSubLista.csv")
table.head()

Apagando colunas

In [171]:
table.drop(columns={"Unnamed: 0","titulo","descricaoTurma","nome"},inplace=True)
table.head(2)

                    idLista                   questao  ...     ano     matricula
0  598cd57a3bc48946977dcf67  59885f8d684f4a3f78163c00  ...  2017.2  2.017010e+10
1  598cd57a3bc48946977dcf67  59885f8d684f4a3f78163c00  ...  2017.2  2.017010e+10

[2 rows x 9 columns]

In [0]:
table.dtypes

In [174]:
table.count()

idLista              62082
questao              62082
quantidade           62082
data                 62082
porcentagemAcerto    62082
idAluno              62213
idTurma              54965
ano                  54965
matricula            62307
dtype: int64

In [175]:
table["data"] = pd.to_datetime(table["data"])
table["idTurma"].dropna(axis=0, how='any',inplace=True)
table.dropna(inplace=True)
table = table.drop_duplicates()
table.reset_index()
table.sort_values(by=["idAluno","questao","data"])
#table.tail()
table.count()

idLista              54806
questao              54806
quantidade           54806
data                 54806
porcentagemAcerto    54806
idAluno              54806
idTurma              54806
ano                  54806
matricula            54806
dtype: int64

In [0]:
table["data"] = pd.to_datetime(table["data"])
table.reset_index()

In [178]:
table.count()

newdf = pd.DataFrame()

prev=table.iloc[0]

for index, row in table.iterrows():
	if index == 0 or pd.isnull(row['data']) or pd.isnull(prev['data']): 
		continue # skip first row and rows with null data
	a=prev["data"]
	b=row["data"]
	if prev["idAluno"] != row["idAluno"]:
		newdf = newdf.append(prev)
	elif (b-a).days > 0:
		newdf = newdf.append(prev)
	elif (b-a).total_seconds() >= 3:
		newdf = newdf.append(prev)
	prev = row

#o newdf que contém o df filtrado	
print(newdf.count())

ano                  30562
data                 30562
idAluno              30562
idLista              30562
idTurma              30562
matricula            30562
porcentagemAcerto    30562
quantidade           30562
questao              30562
dtype: int64

In [0]:
newdf.to_csv(r"lopSubmissoes.csv")

In [184]:
newdf

          ano  ...                   questao
1102   2017.2  ...  59885f8d684f4a3f78163c00
1104   2017.2  ...  59887121d7c3703f96fda00c
1106   2017.2  ...  59887c83684f4a3f78163c02
1111   2017.2  ...  59888ea5d2f43b3f548ef057
1109   2017.2  ...  59888cb2d2f43b3f548ef054
1114   2017.2  ...  599a32d6d9b4c2079007acb4
1123   2017.2  ...  599ae054495fac076a06d3ef
1121   2017.2  ...  599adae4d9b4c2079007acc3
1119   2017.2  ...  599ad893d9b4c2079007acbd
1117   2017.2  ...  599ad39ed9b4c2079007acb8
1124   2017.2  ...  59986ee1aa6c19020665d5ec
1125   2017.2  ...  599871e1a9ad3601f087502a
1126   2017.2  ...  5998737a54b78701f54e9666
1127   2017.2  ...  5998793aaa6c19020665d5f2
1128   2017.2  ...  59987b6ba9ad3601f0875030
1131   2017.2  ...  59987cdfa9ad3601f0875034
1132   2017.2  ...  59987cdfa9ad3601f0875034
1115   2017.2  ...  599a32d6d9b4c2079007acb4
1133   2017.2  ...  599c7401f3b5c20e93bcb46c
1134   2017.2  ...  599c75a6a5ed530eb597c822
1136   2017.2  ...  599c782ff3b5c20e93bcb471
1137   2017.2  ...  599c7d9bf3b5c20e93bcb47b
1142   2017.2  ...  599f443c86dc8a511d9a8ea3
1149   2017.2  ...  59a0880a5e65ea64a07f26c0
1151   2017.2  ...  59a089795e65ea64a07f26c5
1152   2017.2  ...  59a08b4fe7f90764b2ebcc65
1158   2017.2  ...  59a177c5161d04649b5e3df6
1159   2017.2  ...  59a17f695e65ea64a07f26ea
1143   2017.2  ...  599f71d83551032e83e82fdf
1146   2017.2  ...  59a081c9161d04649b5e3de5
...       ...  ...                       ...
52368  2018.2  ...  5994434aa76e28186bdf5672
52298  2018.2  ...  59885f8d684f4a3f78163c00
52370  2018.2  ...  5994485a487ae0183f7dbffa
52372  2018.2  ...  5994498d0875c31866aa6922
52308  2018.2  ...  59888cb2d2f43b3f548ef054
52312  2018.2  ...  59888ea5d2f43b3f548ef057
52302  2018.2  ...  59887c83684f4a3f78163c02
52380  2018.2  ...  5ad7cabc241ada0408e6aa1f
52382  2018.2  ...  5ad7ce49241ada0408e6aa22
52384  2018.2  ...  5b715cc49513a60408ac24ae
52388  2018.2  ...  5ac22eade1b024040e6831bc
52334  2018.2  ...  59986ee1aa6c19020665d5ec
52336  2018.2  ...  599871e1a9ad3601f087502a
52338  2018.2  ...  5998737a54b78701f54e9666
52340  2018.2  ...  5998793aaa6c19020665d5f2
52342  2018.2  ...  59987b6ba9ad3601f0875030
52346  2018.2  ...  59987cdfa9ad3601f0875034
52316  2018.2  ...  599a32d6d9b4c2079007acb4
52348  2018.2  ...  599c7401f3b5c20e93bcb46c
52328  2018.2  ...  599adae4d9b4c2079007acc3
52320  2018.2  ...  599ad39ed9b4c2079007acb8
52332  2018.2  ...  599ae054495fac076a06d3ef
52324  2018.2  ...  599ad893d9b4c2079007acbd
52350  2018.2  ...  599c75a6a5ed530eb597c822
52352  2018.2  ...  599c7d9bf3b5c20e93bcb47b
52354  2018.2  ...  599c7ffa00cd0a0e8e3424fe
52356  2018.2  ...  599f38a829d3675122df9721
52358  2018.2  ...  599f443c86dc8a511d9a8ea3
52360  2018.2  ...  599f71d83551032e83e82fdf
52362  2018.2  ...  599f752400e9f9367cc24b47

[30562 rows x 9 columns]

In [185]:
a = newdf.groupby(["idAluno"])["questao"].count().reset_index().sort_values(by="idAluno")
a.count()

idAluno    809
questao    809
dtype: int64